/*RESET*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*COMMON*/
body {
	min-height: 350px;
	font-family: "Circular Spotify Tx T Black", Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
	display: none;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: white;
}

img {
	width: 100%;
}

.square {
	width: 30px;
	height: 30px;
	background-color: #555555;
	text-align: center;
	display: inline-block;
}

.flex-display {
	display: flex;
}
.flex-start {
	justify-content: flex-start;
}
.space-around {
	justify-content: space-around;
}
.space-between {
	justify-content: space-between;
}

.title-section {
	color: white;
	padding: 40px 0;
}

.content_section.flex-display {
	flex-wrap: wrap;
}
.content_section {
	text-align: center;
}
.song_content {
	width: 250px;
	height: 250px;
	color: white;
	cursor: pointer;
	margin-bottom: 100px;
}
.song_content img {
	object-fit: contain;
	height: 100%;
	width: auto;
}
.song_content .title_song {
	padding-top: 10px;
}
.song_content .title_song p,
.title-section p {
	color: #555555;
	font-size: 12px;
	padding-top: 5px;
}

.create-for-u .song_content,
.popular-artist .song_content {
	margin-right: 25px;
}

/*Wrap App*/
.app-wrapper {
	width: 100%;
	height: calc(100vh - 80px);
	background-color: #141922;
}

/*Side-Bar*/
.side-bar {
	height: 100%;
	background-color: black;
	padding-right: 5px;
	width: 180px;
	overflow: hidden;
}

/*Logo*/
.side-bar .inner_side-bar .logo {
	text-align: center;
	padding: 5px 0;
}
.side-bar .inner_side-bar .logo img {
	width: 132px;
	padding: 10px;
}

/*Menu*/
.side-bar .inner_side-bar .menu .menu-list img {
	opacity: 0.3;
	width: 30px;
	vertical-align: middle;
}
.side-bar .inner_side-bar .menu .menu-list span {
	color: #555555;
	padding-left: 5px;
	font-size: 14px;
}
.side-bar .inner_side-bar .menu .menu-list li {
	padding: 5px 10px;
}
.side-bar .inner_side-bar {
	flex-direction: column;
}
.side-bar .inner_side-bar {
	height: 100%;
}

/*Hover and Active*/
.side-bar .inner_side-bar .menu .menu-list li:hover {
	border-left: 2px solid green;
	padding: 5px 8px;
}
.side-bar .inner_side-bar .menu .menu-list .active {
	border-left: 2px solid green;
	padding: 5px 8px;
}
.side-bar .inner_side-bar .menu .menu-list .active span {
	color: white;
}
.side-bar .inner_side-bar .menu .menu-list .active img {
	opacity: 1;
}

/*Playlist*/
.playlist {
	padding-left: 10px;
	padding-top: 20px;
	flex-grow: 1;
	overflow: hidden;
	min-height: 90px;
}
.playlist .title-playlist {
	color: white;
	padding-bottom: 10px;
}

.playlist .square i {
	line-height: 30px;
}
.playlist_content {
	height: 100%;
}
.made-playlist {
	height: 100%;
	overflow-y: auto;
}
.made-playlist .new_list {
	color: #555555;
	font-size: 13px;
}

.made-playlist .new_list li {
	padding: 5px 0;
}
.made-playlist .new_list li:first-child {
	margin-top: 10px;
}
.made-playlist span {
	color: #555555;
	padding-left: 5px;
}
/*Scroll bar playlist*/
.made-playlist::-webkit-scrollbar {
	width: 3px;
	background-color: #555555;
}
.made-playlist::-webkit-scrollbar-thumb {
	background-color: white;
}

/*Install and Profile*/
.install-profile {
	padding-left: 5px;
	padding-bottom: 5px;
}
.install-profile .download-app {
	padding-bottom: 10px;
	border-bottom: 2px solid #555555;
}
.install-profile .download-app img {
	width: 20px;
	vertical-align: middle;
	opacity: 0.3;
}
.install-profile .download-app span {
	color: #555555;
	padding-left: 5px;
	font-size: 12px;
}
.install-profile .square {
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}
.install-profile .square img {
	width: 30px;
}
.install-profile .profile {
	margin-top: 10px;
}
.install-profile .profile span {
	color: white;
	padding-left: 5px;
}

/*Content*/
.content {
	flex-grow: 1;
	height: 100%;
	padding-top: 70px;
	padding-left: 50px;
	padding-right: 50px;
	overflow-y: auto;
}

.content::-webkit-scrollbar {
	width: 7px;
	background-color: #555555;
}
.content::-webkit-scrollbar-thumb {
	background-color: white;
}

/*Title Content*/
.content .title_content ul {
	text-align: center;
}
.content .title_content ul li {
	display: inline-block;
	padding: 0 10px;
	color: #555555;
	font-size: 12px;
}
.content .title_content ul li:hover a::after,
.content .title_content ul .active a::after {
	content: "";
	border-top: 2px solid green;
	width: 35%;
	margin: auto;
	margin-top: 5px;
	display: block;
}

/*Popular Artist*/
.popular-artist .song_content img {
	border-radius: 50%;
}

/*Footer*/
footer {
	height: 80px;
	background-color: #282828;
}
footer .footer_inner {
	height: 100%;
	padding-left: 5px;
}
footer .footer_inner.flex-display {
	align-items: center;
}

/*Listen Song*/
.listen-song img {
	width: 50px;
	vertical-align: middle;
}
.listen-song .title-song-listen,
.listen-song .like-song {
	display: inline-block;
	vertical-align: middle;
	color: white;
	padding-left: 5px;
}
.listen-song .like-song {
	color: #555555;
	padding: 20px;
	cursor: pointer;
}
.listen-song .like-song i:hover {
	color: white;
}
.listen-song .like-song i:first-child {
	padding-right: 10px;
}
.listen-song .title-song-listen p {
	color: #555555;
	font-size: 10px;
}

/*Player Song*/
.player_song {
	text-align: center;
	flex-grow: 0.4;
}
.player_song .control-section-song {
	color: white;
	font-size: 15px;
	justify-content: space-evenly;
	width: 60%;
	margin: auto;
}
.progress-bar {
	padding: 10px 0;
}
.base-progress-bar {
	height: 7px;
	background-color: #555555;
	border-radius: 15px;
	width: 85%;
	display: inline-block;
}
.progress-bar-colored {
	background-color: white;
	height: 100%;
	width: 20%;
	text-align: left;
	border-radius: 15px;
	position: relative;
}
.progress-bar::before,
.progress-bar::after {
	content: "0:25";
	font-size: 12px;
	color: white;
	padding-right: 10px;
}
.progress-bar::after {
	content: "3:50";
	padding-left: 10px;
	padding-right: 0;
}
.base-progress-bar:hover .progress-bar-colored {
	background-color: green;
}
.base-progress-bar:hover .progress-bar-colored::after {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(40%, -27%);
}

/*MEDIA QUERY*/

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 420px) and (max-width: 767px) {
	/*Song Content*/
	.recently-played .content_section {
		justify-content: flex-start;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
