/*RESET*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*COMMON*/
body {
	font-family: "Circular Spotify Tx T Black", Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
	display: none;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: white;
}

img {
	width: 100%;
}

.square {
	width: 30px;
	height: 30px;
	background-color: #555555;
	text-align: center;
	display: inline-block;
}

.flex-display {
	display: flex;
}
.flex-start {
	justify-content: flex-start;
}
.space-around {
	justify-content: space-around;
}
.space-between {
	justify-content: space-between;
}

.title-section {
	color: white;
	padding: 40px 0;
}

.content_section.flex-display {
	flex-wrap: wrap;
}
.content_section {
	text-align: center;
}
.song_content {
	max-width: 250px;
	color: white;
	margin-bottom: 100px;
}
.img_container {
	width: 250px;
	height: 250px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.img_container:hover::after {
	content: "\f04b";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	line-height: 250px;
	font-size: 50px;
	animation-name: top_down;
	animation-duration: 1s;
	width: 250px;
	height: 250px;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
}
/*Animation*/
@keyframes top_down {
	from {
		top: -250px;
	}
	to {
		top: 0;
	}
}

.img_container img {
	object-fit: contain;
	height: 100%;
	width: auto;
}
.song_content .title_song {
	padding-top: 10px;
}
.song_content .title_song p,
.title-section p {
	color: #555555;
	font-size: 12px;
	padding-top: 5px;
}

.create-for-u .song_content,
.popular-artist .song_content {
	margin-right: 25px;
}

.base-progress-bar {
	height: 7px;
	background-color: #555555;
	border-radius: 15px;
	width: 75%;
	display: inline-block;
}
.progress-bar-colored {
	background-color: white;
	height: 100%;
	width: 20%;
	text-align: left;
	border-radius: 15px;
	position: relative;
}
.base-progress-bar .progress-bar-colored:hover {
	background-color: green;
	cursor: pointer;
}
.progress-bar-colored:hover::after {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(40%, -27%);
}

/*Wrap App*/
.app-wrapper {
	width: 100%;
	height: calc(100vh - 80px);
	background-color: #141922;
}

/*Side-Bar*/
.side-bar {
	height: 100%;
	background-color: black;
	overflow: hidden;
	flex-shrink: 0.8;
	position: relative;
	z-index: 1;
}

/*Menu*/
.side-bar .inner_side-bar .menu .menu-list img {
	opacity: 0.3;
	width: 30px;
	vertical-align: middle;
}
.side-bar .inner_side-bar .menu .menu-list span {
	color: #555555;
	padding-left: 5px;
	font-size: 14px;
}
.side-bar .inner_side-bar .menu .menu-list li {
	padding: 5px 10px;
}
.side-bar .inner_side-bar {
	flex-direction: column;
}
.side-bar .inner_side-bar {
	height: 100%;
}

/*Hover and Active*/
.side-bar .inner_side-bar .menu .menu-list li:hover {
	border-left: 2px solid green;
	padding: 5px 8px;
}
.side-bar .inner_side-bar .menu .menu-list .active {
	border-left: 2px solid green;
	padding: 5px 8px;
}
.side-bar .inner_side-bar .menu .menu-list .active span,
.side-bar .inner_side-bar .menu .menu-list li:hover span {
	color: white;
}
.side-bar .inner_side-bar .menu .menu-list .active img,
.side-bar .inner_side-bar .menu .menu-list li:hover img {
	opacity: 1;
}

/*Playlist*/
.playlist {
	padding-left: 10px;
	padding-top: 20px;
	flex-grow: 1;
	overflow: hidden;
	min-height: 90px;
}
.playlist .title-playlist {
	color: white;
}
.playlist .square i {
	line-height: 30px;
}
.playlist_content,
.made-playlist {
	height: 100%;
}
.made-playlist .new_list {
	color: #555555;
	font-size: 13px;
	height: 100%;
	overflow-y: auto;
}
.made-playlist .new_list li {
	padding: 5px 0;
}
.made-playlist .new_list li:first-child {
	margin-top: 10px;
}
.made-playlist span {
	color: #555555;
	padding-left: 5px;
}
/*Hover Playlist*/
.playlist .made-playlist .make-playlist:hover span,
.playlist .made-playlist .make-playlist:hover .square {
	color: white;
	cursor: pointer;
}

/*Scroll bar playlist*/
.new_list::-webkit-scrollbar {
	width: 3px;
	background-color: #555555;
}
.new_list::-webkit-scrollbar-thumb {
	background-color: white;
}

/*Install and Profile*/
.install-profile {
	padding-bottom: 5px;
}
.install-profile .download-app {
	padding-bottom: 10px;
	border-bottom: 2px solid #555555;
}
.install-profile .download-app img {
	vertical-align: middle;
	opacity: 0.3;
}
.install-profile .download-app span {
	color: #555555;
	padding-left: 5px;
	font-size: 12px;
}
.install-profile .square {
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}
.install-profile .square img {
	width: 30px;
}
.install-profile .profile {
	margin-top: 10px;
}
.install-profile .profile span {
	color: white;
	padding-left: 5px;
}
/*Hover Install App*/
.install-profile .download-app:hover img,
.install-profile .download-app:hover span {
	opacity: 1;
	color: white;
}

/*Content*/
.content {
	flex-grow: 1;
	height: 100%;
	padding-top: 70px;
	padding-left: 50px;
	padding-right: 50px;
	overflow-y: auto;
}

.content::-webkit-scrollbar {
	width: 7px;
	background-color: #555555;
}
.content::-webkit-scrollbar-thumb {
	background-color: white;
}

/*Title Content*/
.content .title_content ul {
	text-align: center;
}
.content .title_content ul li {
	display: inline-block;
	padding: 0 10px;
	color: #555555;
	font-size: 12px;
}
.content .title_content ul li:hover a::after,
.content .title_content ul .active a::after {
	content: "";
	border-top: 2px solid green;
	width: 35%;
	margin: auto;
	margin-top: 5px;
	display: block;
}
.content .title_content ul .active {
	color: white;
}

/*Popular Artist*/
.popular-artist .song_content .img_container {
	border-radius: 50%;
	overflow: hidden;
}

/*Footer*/
footer {
	height: 80px;
	background-color: #282828;
}
footer .footer_inner {
	height: 100%;
	padding-left: 5px;
}
footer .footer_inner.flex-display {
	align-items: center;
}

/*Listen Song*/
.listen-song img {
	width: 50px;
	vertical-align: middle;
}
.listen-song .title-song-listen,
.listen-song .like-song {
	display: inline-block;
	vertical-align: middle;
	color: white;
	padding-left: 5px;
}
.listen-song .like-song {
	color: #555555;
	padding: 20px;
	cursor: pointer;
}
.listen-song .like-song i:hover {
	color: white;
}
.listen-song .like-song i:first-child {
	padding-right: 10px;
}
.listen-song .title-song-listen p {
	color: #555555;
	font-size: 10px;
}

/*Player Song*/
.player_song {
	text-align: center;
	flex-grow: 1;
}
.player_song .control-section-song {
	color: white;
	font-size: 15px;
	justify-content: space-evenly;
	width: 40%;
	margin: auto;
}
.player_song .control-section-song i:hover {
	cursor: pointer;
}
.player_song .progress-bar {
	margin-left: auto;
	margin-right: auto;
}

.player_song .progress-bar::before,
.player_song .progress-bar::after {
	content: "0:25";
	font-size: 12px;
	color: white;
	padding-right: 10px;
}

/*Right Control Song*/
.right-controls-song .progress-bar {
	width: 100px;
}
.right-controls-song i {
	padding: 0 5px;
	vertical-align: middle;
	color: white;
	font-size: 12px;
}

/*Fixed*/
.fixed {
	position: fixed;
	top: 0;
	right: 7px;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 60px;
	text-align: right;
}
.button-fixed .text-button {
	line-height: 60px;
	margin-right: 10px;
	color: white;
	font-size: 11px;
	border-radius: 10px;
	border: 1px solid white;
	padding: 10px;
}
.button-fixed:hover .text-button {
	padding: 14px;
	cursor: pointer;
}

/*MEDIA QUERY*/
/*Very Small devices*/
@media (min-width: 320px) {
	/*Sidebar*/
	.side-bar {
		width: 80px;
		padding: 0;
	}
	.side-bar:hover {
		width: 180px;
		transition: width 1s ease-in-out;
		-webkit-transition: width 1s ease-in-out;
	}
	.side-bar .inner_side-bar .menu,
	.side-bar .inner_side-bar .playlist,
	.side-bar .inner_side-bar .install-profile {
		display: none;
	}
	.side-bar:hover .inner_side-bar .menu,
	.side-bar:hover .inner_side-bar .playlist,
	.side-bar:hover .inner_side-bar .install-profile {
		display: block;
	}
	.side-bar:hover .hidden-arrow{
		display: none;
	}

	/*Logo*/
	.side-bar .inner_side-bar .logo {
		padding: 0;
	}
	.side-bar .inner_side-bar .logo .logo-normal {
		display: none;
	}
	.side-bar .inner_side-bar .logo .logo-small {
		max-width: 100%;
		min-width: 20px;
		display: block;
		margin: auto;
		padding: 5px 4px;
	}

	/*Hidden arrow*/
	.hidden-arrow{
		height: 100%;
		display: flex;
		align-items: center;
	}
	.scroll-arrow {
		width: 12px;
		height: 12px;
		transform: rotate(-45deg);
		border-right: 2px solid white;
		border-bottom: 2px solid white;
		animation: arrow-wave 1s infinite;
		animation-direction: alternate;
		display:inline-block;
	}
	.scroll-arrow:nth-child(2){
		animation-delay: .3s;
	}
	.scroll-arrow:last-child{
		animation-delay: .6s;
	}
	@keyframes arrow-wave {
		0% {
			opacity: 0;
		}
		50% {
			opacity: .5;
		}
		100% {
			opacity: 1;
		}
	}
	

	/*Menu*/
	.side-bar .inner_side-bar .menu .menu-list span {
		display: none;
	}
	.side-bar .inner_side-bar .menu .menu-list {
		text-align: center;
	}

	/*Playlist*/
	.playlist {
		padding-left: 0;
	}
	.playlist .title-playlist {
		font-size: 10px;
		padding-bottom: 0;
		text-align: center;
	}
	.playlist .playlist_content .made-playlist .make-playlist {
		text-align: center;
		padding: 10px 0;
	}
	.playlist .playlist_content .made-playlist .make-playlist span {
		display: none;
	}

	.made-playlist .new_list {
		text-align: center;
	}

	/*Download App*/
	.install-profile {
		padding-left: 0;
	}
	.install-profile .download-app {
		text-align: center;
		padding: 0;
	}
	.install-profile .download-app span {
		display: none;
	}
	.install-profile .download-app img {
		width: 25px;
	}

	/*Profile*/
	.install-profile .profile span {
		display: none;
	}
	.install-profile .profile {
		text-align: center;
	}

	/*Content*/
	/*Title Content*/
	.content {
		overflow-x: hidden;
		padding-left: 25px;
		padding-right: 25px;
	}
	.content .title_content ul li {
		padding-bottom: 7px;
		display: block;
	}
	.title-section {
		text-align: center;
	}
	.song_content {
		margin-bottom: 25px;
	}
	.content_section.flex-display {
		justify-content: space-around;
	}
	.create-for-u .song_content,
	.popular-artist .song_content {
		margin-right: 0;
	}

	/*Footer*/
	/*Listen Song*/
	.listen-song .like-song {
		display: none;
	}
	.listen-song .like-song i:first-child {
		padding: 0 1px;
	}

	/*Player Song*/
	.player_song .control-section-song i {
		display: none;
	}
	.player_song .control-section-song .play {
		display: inline-block;
		font-size: 25px;
	}
	.player_song .progress-bar::before {
		display: none;
	}
	.player_song .progress-bar::after {
		content: "0:25";
		font-size: 12px;
		color: white;
		display: block;
	}
	.player_song .progress-bar::after {
		content: "3:50";
		padding-left: 10px;
		padding-right: 0;
	}
	.player_song .progress-bar {
		max-width: 80%;
	}

	/*Right Control*/
	.right-controls-song .progress-bar {
		display: none;
	}
	.right-controls-song {
		padding-right: 5px;
	}
	.right-controls-song .fa-volume-up:hover {
		position: relative;
		display: inline-block;
	}
	.right-controls-song .fa-volume-up:hover .drop-volume{
		display: none;
		position: absolute;
		top: -45px;
		left: -58px;
		transform: rotateZ(270deg);
		z-index: 1;
	}
	.right-controls-song .fa-volume-up:hover .drop-volume,
	.right-controls-song .fa-volume-up:hover .progress-bar	{
		display: block;
	}
	.right-controls-song .fa-volume-up:hover .progress-bar{
		width: 140px;
		padding-left: 42px;
	}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	/*Sidebar*/
	.side-bar:hover {
		width: 130px;
		transition: width 1s ease-in-out;
		-webkit-transition: width 1s ease-in-out;
	}
	/*Logo*/
	.side-bar .inner_side-bar .logo .logo-small {
		max-width: 60%;
		min-width: 35px;
	}

	/*Content*/
	/*Title Content*/
	.content .title_content ul li:hover a::after,
	.content .title_content ul .active a::after {
		width: 70%;
	}
	.content .title_content ul li {
		padding-bottom: 7px;
		display: inline-block;
	}

	/*Footer*/
	/*Listen Song*/
	.listen-song .like-song {
		display: inline-block;
	}
	/*Player Song*/
	.player_song .control-section-song i,
	.player_song .control-section-song .play {
		display: inline-block;
		font-size: 17px;
		padding: 0 5px;
	}
	.player_song .progress-bar {
		margin-top: 5%;
	}
	.player_song .progress-bar::before,
	.player_song .progress-bar::after {
		color: white;
		display: inline-block;
	}
	.base-progress-bar {
		width: 65%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/*Sidebar*/
	.side-bar {
		width: 120px;
		padding: 0;
	}
	.side-bar:hover {
		transition: none;
		width: 120px;
	}
	.side-bar .inner_side-bar .menu,
	.side-bar .inner_side-bar .playlist,
	.side-bar .inner_side-bar .install-profile {
		display: block;
	}
	/*Logo*/
	.side-bar .inner_side-bar .logo {
		padding: 0;
	}
	.side-bar .inner_side-bar .logo .logo-normal {
		display: none;
	}
	.side-bar .inner_side-bar .logo .logo-small {
		max-width: 70%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/*Sidebar*/
	.side-bar {
		width: 180px;
		padding-right: 5px;
	}
	.side-bar:hover {
		transition: none;
		width: 180px;
	}
	/*Hidden arrow*/
	.side-bar .hidden-arrow{
		display: none;
	}

	/*Logo*/
	.side-bar .inner_side-bar .logo {
		text-align: center;
		padding: 5px 0;
	}
	.side-bar .inner_side-bar .logo .logo-small {
		display: none;
	}
	.side-bar .inner_side-bar .logo .logo-normal {
		width: 115px;
		padding: 10px;
		display: block;
	}

	/*Menu*/
	.side-bar .inner_side-bar .menu .menu-list span {
		display: initial;
	}
	.side-bar .inner_side-bar .menu .menu-list {
		text-align: left;
	}

	/*Playlist*/
	.playlist {
		padding-left: 10px;
	}
	.playlist .title-playlist {
		padding-bottom: 10px;
		font-size: 14px;
	}
	.playlist .playlist_content .made-playlist .make-playlist {
		text-align: left;
		padding: 0;
	}
	.playlist .playlist_content .made-playlist .make-playlist span {
		display: initial;
	}
	.made-playlist .new_list {
		text-align: left;
	}

	/*Install and Profile*/
	.install-profile {
		padding-left: 5px;
	}
	/*Download App*/
	.install-profile .download-app {
		text-align: left;
	}
	.install-profile .download-app img {
		width: 20px;
	}
	.install-profile .download-app span {
		display: initial;
	}
	/*Profile*/
	.install-profile .profile {
		text-align: left;
	}
	.install-profile .profile span {
		display: initial;
	}

	/*Content*/
	/*Title section*/
	.title-section {
		text-align: left;
	}
	/*Song*/
	.create-for-u .content_section.flex-display,
	.popular-artist .content_section.flex-display {
		justify-content: flex-start;
	}
	.create-for-u .song_content,
	.popular-artist .song_content {
		margin-right: 25px;
	}

	/*FOOTER*/
	/*Player Song*/
	.player_song .progress-bar {
		margin-top: 1%;
		max-width: 53%;
	}
	/*Right-control*/
	.right-controls-song .progress-bar {
		display: inline-block;
	}
	.right-controls-song .fa-volume-up:hover .drop-volume,
	.right-controls-song .fa-volume-up .drop-volume{
		display: none;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
